.BottomMenu {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

ul {
  list-style: none;
}
li {
  margin: 10px 0 10px 0;
  color: rgb(158, 155, 151);
}

.Bottomcontent {
  display: block;
  background-color: rgb(51, 51, 51);
  color: aliceblue;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 300px;
}

.Bottomitems {
  color: rgba(70, 69, 72, 0.958);
  padding: 20px;
  font-size: 15px;
}

.Bottomitems:hover,
.Bottomitems.selected {
  text-decoration: underline;
  background-color: rgb(51, 51, 51);
  color: rgb(10, 128, 88);
}
.contentli {
  width: 120px;
  margin: 0;
  padding: 0;
}
