.BottomMenu {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

ul {
  list-style: none;
}
li {
  margin: 10px 0 10px 0;
  color: rgb(158, 155, 151);
}

.Bottomcontent {
  position: fixed;
  left: 0;
  display: none;
  justify-content: center;
  width: 100%;
  height: 300px;
  display: Flex;
}
.Bottom:hover > .Bottomcontent {
  display: block;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Bottomitems {
  color: rgba(70, 69, 72, 0.958);
  padding: 20px;
  font-size: 15px;
}
.Bottomitems:hover {
  text-decoration: underline;
  background-color: black;
  color: rgb(10, 128, 88);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.contentli {
  margin: 0;
  padding: 0;
}
